
<div class="container-fluid">
    <div class="row">
        <div class="col-12 bg-info fixed-top">
            <app-mynav></app-mynav>
        </div>
    </div>
    <div class="row cus-m">
        <div class="col-sm-2 bg-info">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row bg-info">
        <div class="col-12 g-0">
           <app-myfooter></app-myfooter>
        </div>
    </div>
    
</div>