<!-- 
<form [formGroup]="myform" (ngSubmit)="mysubmit()">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-9 shadow">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 appMycolor >multi lever form</h1>
                    </div>
                    <div class="col-3 p-2">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control"  formControlName="email">
                          </div>
                    </div>
                    <div class="col-3 p-2">
                        <div class="mb-3">
                            <label class="form-label">name</label>
                            <input type="password" class="form-control" formControlName="fullname" >

                          </div>
                    </div>
                    <section formGroupName="personal">
                    <div class="col-3 p-2">
                        <div class="mb-3">
                            <label class="form-label">phone</label>
                            <input type="text" class="form-control" formControlName="phone">
                          </div>
                    </div>
                    <div class="col-3 p-2">
                        <div class="mb-3">
                            <label class="form-label">age</label>
                            <input type="number" class="form-control" formControlName="age">
                          </div>
                    </div>
                </section>
                    <div class="col-12 p-2">
                        <div class="mb-3">
                            <input type="submit" value="login" class="btn btn-success">
                       
                   
                          </div>
                    </div>
              
                    
                </div>
            </div>
        </div>
    </div>
  </div>

</form> -->


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="username" required />
    <div *ngIf="username.invalid && username?.['touched']">
        <div *ngIf="username.errors?.['required']">
            Field is required.
        </div>
        <div *ngIf="username.errors?.['custom']">
            Custom validation failed.
        </div>
    </div>
    <input type="text" formControlName="phoneno" required />
    <div *ngIf="phoneno.invalid && phoneno?.['touched']">
        <div *ngIf="phoneno.errors?.['required']">
            Field is required.
        </div>
        <div *ngIf="phoneno.errors?.['custom']">
           phoneno is required
        </div>
    </div>
    <button type="submit">Submit</button>
</form>