<p>Angular CLI stands for Angular Command Line Interface, and it helps developers to create projects
     easily and quickly and automate the development workflow. CLI is a command-line tool designed to aid 
     developers in creating, building, testing, and deploying Angular applications efficientlyAngular CLI 
     stands for Angular Command Line Interface, and it helps developers to create projects easily and quickly 
     and automate the development workflow. CLI is a command-line tool designed to aid developers in creating,
      building, testing, and deploying Angular applications efficientlyAngular CLI stands for Angular Command 
      Line Interface, and it helps developers to create projects easily and quickly and automate the development 
      workflow. CLI is a command-line tool designed to aid developers in creating, building, testing, and 
      deploying Angular applications efficientlyAngular CLI stands for Angular Command Line Interface, and 
      it helps developers to create projects easily and quickly and automate the development workflow. 
      CLI is a command-line tool designed to aid developers in creating, building, testing, and deploying 
      Angular applications efficiently!</p>
{{ num}}
{{first}}
<h1>{{working}} {{myarry}} {{myarry[0]}}</h1>
<p [ngStyle]="{'background-color':'green','font-size':abc}" >Angular CLI stands for Angular Command Line Interface, and it helps developers to create projects
    easily and quickly and automate the development workflow. CLI is a command-line tool designed to aid 
    developers in creating, building, testing, and deploying Angular applications efficientlyAngular CLI 
    stands for Angular Command Line Interface, and it helps developers to create projects easily and quickly 
    and automate the development workflow. CLI is a command-line tool designed to aid developers in creating,
     building, testing, and deploying Angular applications efficientlyAngular CLI stands for Angular Command 
     Line Interface, and it helps developers to create projects easily and quickly and automate the development 
     !</p>


    <h2 [ngStyle]="{display:xyz}">developers in creating, building, testing, and deploying Angular applications efficientlyAngular CLI 
        stands for Angular Command Line Interface, and it helps developers to create projects easily and quickly 
        and automate the development workflow. CLI is a command-line tool designed to aid developers in creating,
         building, testing, and deploying Angular applications efficientlyAngular CLI stands for Angular Command 
         Line Interface, and</h2>
<h2 [ngStyle]="xyz ? {'color':'red'}:{'color':'blue'}">developers in creating, building, testing, and deploying Angular applications efficientlyAngular CLI 
            stands for Angular Command Line Interface, and it helps developers to create projects easily and quickly 
            and automate the development workflow. CLI is a command-line tool designed to aid developers in creating,
             building, testing, and deploying Angular applications efficientlyAngular CLI stands for Angular Command 
             Line Interface, and</h2>

