<p>landingpage works!</p>
{{phone}}
<!-- <div *ngFor="let a of mydata">
    <p>{{a.name}} {{a.age}}</p>
</div> -->


<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <p *ngFor="let a of mydata">{{a.name}} {{a.age}}</p>
        </div>
    </div>
</div> -->


<div class="container">
    <div class="row">
        <div class="col-6 p-3">
            <select [ngClass]="'form-select'">
                <option *ngFor="let a of mydata">{{a.name}}</option>
            </select>
        </div>
        <div class="col-6 p-3">
            <select [ngClass]="'form-select'">
                <option *ngFor="let a of mydata">{{a.age | number:'1.0-5'}}</option>
            </select>
        </div>
        
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let a of mydata">
                    <th scope="row">1</th>
                    <td>{{a.name}}</td>
                    <td>{{a.age}}</td>
                    <!-- <td [ngClass]="a.status=='success' ? 'bg-success' : 'bg-danger'">{{a.status}}</td> -->
                    <td [ngClass]="a.status=='success' ? 'bg-success' : a.status=='pending' ? 'bg-primary' : 'bg-dark'">{{a.status}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

<h1>use of angular bootstrap</h1>

<div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>First</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>Content for the first item</ng-template>
        </div>
      </div>
    </div>
  </div>
<h1>table  </h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Country</th>
			<th scope="col">Area</th>
			<th scope="col">Population</th>
		</tr>
	</thead>
	<tbody>
		@for (country of countries; track country.name; let i = $index) {
			<tr>
				<th scope="row">{{ i + 1 }}</th>
				<td>
					<img
						[src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
						[alt]="'The flag of ' + country.name"
						class="me-2"
						style="width: 20px"
					/>
					{{ country.name }}
				</td>
				<td>{{ country.area | number }}</td>
				<td>{{ country.population | number }}</td>
			</tr>
		}
	</tbody>
</table>
